<h1>Work Task</h1>
<br />
<div class="row">
  <div *ngFor="let option of options">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio"
                 name="radio"
                 id="radio-{{option.id}}"
                 [(ngModel)]="value"
                 [value]="option.value"
                 (change)="value_change(option)" />
          <label for="radio-{{option.id}}">{{option.value}}</label>
        </div>
      </div>
    </div>
  </div>
  <input type="text" id="textFilter" placeholder="Filter" [(ngModel)]="textFilter" [disabled]="selectedOption.id == 0" />
  <button (click)="consultar_click()" [disabled]="(selectedOption.id != 0 && textFilter.length ==0)">Consultar</button>
</div>
<br />

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th>Path</th>
      <th><button (click)="agregar_click()">Agregar</button></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let wt of worktasks">
      <td>{{wt.id}}</td>
      <td>{{wt.descripcion}}</td>
      <td><span class="badge" [ngClass]="{'badge-success':wt.estado,'badge-warning': !wt.estado}">{{wt.estado}}</span></td>
      <td>{{wt.path}}</td>
      <td><button (click)="edit_click(wt.id)">Editar</button></td>
      <td><button (click)="remove_click(wt.id)">Eliminar</button></td>
    </tr>
  </tbody>
</table>
