<div *ngIf="loading">
  <div class="form-group">
    <div class="col-md-4">
      <label>Descripcion</label>
      <input type="text" class="form-control" [(ngModel)]="worktask.descripcion" placeholder="Enter Descripcion">
      <small class="form-text text-muted">Minimo 10 caracteres</small>
    </div>
  </div>
  <div class="form-group form-check">
    <div class="col-md-4">
      <input type="checkbox" class="form-check-input" [(ngModel)]="worktask.estado" value="{{worktask.estado}}">
      <label class="form-check-label">Estado</label>
    </div>
  </div>

  <div class="col-md-4">
    <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" accept="image/x-png,image/gif,image/jpeg"
                 (change)="handleFileInput($event.target.files)">
          <label class="custom-file-label">{{worktask.path}}</label>
        </div>
        <div *ngIf="worktask.path.length > 0">
          <button (click)="removeImagen_click()">remove</button>
          <!--Mostrar imagen si existe-->
          <label>Imagen</label>
        </div>
    </div>
  </div>

  <br />
  <div class="col-md-4">
    <button type="button" class="btn btn-primary" (click)="saveUpdate_click()">Aceptar</button>
  </div>
</div>
